<%= form_with model: genre do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% @genre.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>


<br>
<%= link_to "HOME", root_path %>
<br>
<%= link_to "Lista de gêneros", genres_path %>