<%= link_to "HOME", root_path %>
<br>
<%= link_to "Lista de filmes", movies_path %>
<br>

<h1><%= @movie.title %></h1>

<p><%= @movie.release %></p>
<p><%= @movie.country %></p>
<p><%= @movie.runtime %></p>
<p><%= @movie.director %></p>
<p><%= @movie.genre %></p>
<p><%= @movie.synopsis %></p>

<button><%= link_to "Edit", edit_movie_path(@movie) %></button>
<button><%= link_to "Delete", edit_movie_path(@movie), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Hey! Are you sure?"
                    } %></button>