<%= link_to "HOME", root_path %>
<br>
<%= link_to "Lista de filmes", movies_path %>
<br>

<h1><%= @movie.title %></h1>

<p><strong>Ano de lançamento:</strong> <%= @movie.release %></p>
<p><strong>País:</strong> <%= @movie.country %></p>
<p><strong>Duração:</strong> <%= @movie.runtime %> minutos</p>
<p><strong>Diretor:</strong> <%= @movie.director %></p>
<p><strong>Gênero:</strong> <%= @movie.genre %></p>

<h3>Sinopse:</h3>
<p><%= @movie.synopsis %></p>

<p>
  <strong>Capa:</strong> <br>
  <%= image_tag @movie.cover %>
</p>

<button><%= link_to "Editar", edit_movie_path(@movie) %></button>
<button><%= link_to "Excluir", movie_path(@movie), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Tem certeza que quer excluir o filme '#{@movie.title}'?"
                    } %></button>