<p>(* campo obrigatório)</p>
<br>

<%= form_with model: director do |form| %>
  <div>
    <%= form.label :name %> <span>*</span><br>
    <%= form.text_field :name %>
    <% @director.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :nationality %><br>
    <%= form.text_field :nationality %>
  </div>

  <div>
    <%= form.label :birthdate %><br>
    <%= form.text_field :birthdate %>
  </div>

  <p>mudar o formatado de nascimento depois de modificar a tabela</p>
  
  <div>
  <%# form.label :birthdate %><br>
  <%#form.date_field :birthdate %>
  </div>

  <div>
    <%= form.label :favourite_genre %><br>
    <%= form.text_field :favourite_genre %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>


<br>
<%= link_to "HOME", root_path %>
<br>
<%= link_to "Lista de diretores", directors_path %>